language: ruby
bundler_args: --without development
script: "bundle exec rake spec"
rvm:
  - 1.9.3
  - ruby-head
notifications:
  email: false
  webhooks:
    urls:
      - https://fast-reef-2454.herokuapp.com/event/travis/
      - https://puppet-dev-community.herokuapp.com/event/travis/
    on_success: always
    on_failure: always
    on_start: true
